/* App.css */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the full height of the viewport is taken */
}

.content {
  flex: 1; /* Expands to take available space, pushing footer to the bottom */
  padding: 20px;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
  /* Optional styling to separate footer visually */
}
